.rectangles{
    background-color: #1B0000;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 33%;
}

.flex1 {
    background: #F48C06;
    height: 160px;
    width: 468px;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.card {
    width: 78px;
    height: 78px;
    background: #9D0208;
    border-radius: 4px;
    margin: 20px;
}

.container1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: stretch;  
}

.container3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.container4 {
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: baseline;  
}

.container6 {
    display: flex;
    justify-self: flex-end;
    align-self: center;  
}

.card1 {
    width: 78px;
    height: 78px;
    background: #9D0208;
    border-radius: 4px;
    margin: 20px;
    align-self: flex-end;
}

.card2 {
    width: 78px;
    min-height: 120px;
    background: #9D0208;
    border-radius: 4px;
    margin: 20px;
    align-self: stretch;
}

.card3 {
    width: 78px;
    height: 78px;
    background: #9D0208;
    border-radius: 4px;
    margin: 20px;
    flex-grow: 2;
}

.card4 {
    width: 78px;
    height: 100px;
    background: #9D0208;
    border-radius: 4px;
    margin: 20px;
    padding-top: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
}

.flex2 {
    background: #03071E;
    height: 220px;
    width: 273px;
    margin-top: 90px;
    margin-left: 98px;
}

.circle {
    min-width: 50px;
    min-height: 50px;
    background: #748CAB;
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.container7 {
    width: 273px;
    height: 220px;
    background: #03071E;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
}

.container8 {
    width: 273px;
    height: 220px;
    background: #6A040F;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.container9 {
    width: 273px;
    height: 220px;
    background: #03071E;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: stretch;
    justify-self: space-between;
    flex-wrap: wrap;
}

.container10 {
    width: 273px;
    height: 220px;
    background: #6A040F;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: center;
    justify-self: space-between;
    flex-wrap: wrap;
}

.container11 {
    width: 273px;
    height: 220px;
    background: #03071E;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
}


section {
    display: flex;
    flex wrap: wrap;
    flex-basis: 33%;
}